<div class = "wraper">

  <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
    <!-- ユーザーがログインしていた時の処理 -->
    <div class = "header">
      <h4> ユーザー名： <%= current_user.name %> </h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
    </div>

  <div class = "app-title">
    <h1>家計簿アプリ</h1>
  </div>

  <div class = "content">
    <div class ="box">
      <h2>科目設定</h2>
      <ul>
        <li><%= link_to "収入科目設定", :incomes %></li>
      </ul>
      <ul>
        <li><%= link_to "固定費科目設定", :fixedcosts %></li>
      </ul>
      <ul>
        <li><%= link_to "変動費科目設定", :variablecosts %></li>
      </ul>
    </div>
    <div class ="box">
      <h2>収支登録</h2>
      <ul>
        <li><%= link_to "収入金額登録", :income_values %></li>
      </ul>
      <ul>
        <li><%= link_to "固定費金額登録", :fixedcost_values %></li>
      </ul>
      <ul>
        <li><%= link_to "変動費金額登録", :variablecost_values %></li>
      </ul>
    </div>
    <div class ="box">
      <h2>収支確認</h2>
      <ul>
        <li><%= link_to "収支確認画面", balance_confirm_path %></li>
      </ul>
    </div>
  </div>

  <% else %>
    <!-- ユーザーがログインしていなかった時の処理 -->
    <div class = "login">
      <h2> 現在ログインしていません </h2>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
    </div>
  <% end %>

</div>